.navbar {
    width: 100%;
    background-color: #007bff;
    position: fixed;  /* Fixes the navbar at the top of the screen */
    top: 0;
    left: 0;
    padding: 10px 0;
    z-index: 1000; /* Ensures the navbar is above other elements */
  }
  
  .navbar-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  .navbar-item {
    color: white;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .navbar-item:hover {
    background-color: #0056b3;
  }
  